// Colors
$text-main: #FFFFFF
$text-secondary: rgba(255, 255, 255, 0.75)
$red-accent: #FC4747
$dark-blue-bg: #10141E
$greyish-blue: #5A698F
$semi-dark-blue: #161D2F

// Font stack
$font-stack: 'Outfit', sans-serif

// Breakpoints
$map-for-breakpoints: ("xsmall": 0,"small": 576px,"medium": 768px,"large": 992px,"xlarge": 1200px) !default