<main>
  <div class="logo">
    <svg width="33" height="27" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m26.463.408 3.2 6.4h-4.8l-3.2-6.4h-3.2l3.2 6.4h-4.8l-3.2-6.4h-3.2l3.2 6.4h-4.8l-3.2-6.4h-1.6a3.186 3.186 0 0 0-3.184 3.2l-.016 19.2a3.2 3.2 0 0 0 3.2 3.2h25.6a3.2 3.2 0 0 0 3.2-3.2V.408h-6.4Z"
        fill="#FC4747"
      />
    </svg>
  </div>

  <div class="card">
    <h1>Login</h1>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          type="email"
          placeholder="Email address"
          formControlName="email"
        />
        <small
          *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.errors?.['required']"
          >Can't be empty</small
        >
        <small
          *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.errors?.['email']"
          >Please enter a valid email address</small
        >
      </div>
      <div class="input-group">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <small
          *ngIf="signInForm.get('password')?.touched && signInForm.get('password')?.errors?.['required']"
          >Can't be empty</small
        >
        <small
          *ngIf="signInForm.get('password')?.touched && signInForm.get('password')?.errors?.['minlength']"
          >Password must be at least 6 characters</small
        >
      </div>
      <button type="submit">Login to your account</button>
    </form>
    <p>Don't have an account? <a [routerLink]="['/signup']">Sign Up</a></p>
  </div>
</main>
